@page "/"

<PageTitle>Home</PageTitle>

<h1 style="font-weight: bold; font-family: 'Arial', sans-serif;">Välkommen till AlbertBankApp</h1>

<br/>
<p>Här kan du skapa bankkonton, göra överföringar och se din transaktionshistorik.</p>
<p>Använd navigationsmenyn för att komma igång.</p>
