@inject NavigationManager Navigation

<!-- logout button -->
<button class="btn btn-link" @onclick="HandleLogout">Logga ut</button>

@code {
    /// <summary>
    /// Handles the logout process
    /// </summary>
    private Task HandleLogout()
    {
        Navigation.NavigateTo("/", replace: true);
        return Task.CompletedTask;
    }
}